{% extends 'layout.html' %}
{% block content %}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Node Details <small></small></h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_title">
                    <div class="col-md-12">
                        <h4>Node ID: {{node.node_id|upper}}</h4>
                    </div>
                </div>
                <br/>
                <ul class="list-unstyled user_data">
                    <li>
                        <h5 id="detail-address"><i class="fa fa-map-marker user-profile-icon"></i>&nbsp;&nbsp;</h5>
                    </li>

                    <li>
                        <h5 id="detail-coord" data-coord="{{node.lat}},{{node.lng}}"><i class="fa fa-wifi user-profile-icon"></i>&nbsp;&nbsp;{{node.lat}}, {{node.lng}}</h5>
                    </li>

                    <li>
                        <h5><i class="fa fa-clock-o user-profile-icon"></i>&nbsp;&nbsp;{{node.timestamp|unix_to_date}}</h5>

                    </li>
                </ul>
                <br>

                <!-- <span class="label label-success label-status">{{node.status}}</span> -->
                <button id="btn-view-camera" data-ip="{{node.ip_address}}" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-camera"></span> View Camera
                </button>
                <br/> <br/>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="profile_title">
                    <div class="col-md-6">
                        <h2>Location map</h2>
                    </div>                   
                </div>
                <div class="col-md-12" id="map"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
